In [1]:
import pandas as pd

In [94]:
df_org = pd.read_excel("clean_news_data.xlsx")
df_org.drop(columns=['Unnamed: 0'], inplace=True)
df_org.head()

,Links,Title,Description,Date,Status,CleanedTweet
0,https://www.nation.com.pk/14-Mar-2024/delegati...,Delegation from Lahore University Media Studie...,Share on Facebook Share on Twitter ...,2024-03-14 00:00:00,True,Share on Facebook Share on Twitter ...
1,https://www.nation.com.pk/14-Mar-2024/kh-salma...,Kh Salman vows comprehensive health sector imp...,Share on Facebook Share on Twitter ...,2024-03-14 00:00:00,True,Share on Facebook Share on Twitter ...
2,https://www.nation.com.pk/14-Mar-2024/give-zak...,"Give Zakat, donations for welfare of deservin...",Share on Facebook Share on Twitter ...,2024-03-14 00:00:00,True,Share on Facebook Share on Twitter ...
3,https://www.nation.com.pk/14-Mar-2024/minister...,Minister reviews mining issue,Share on Facebook Share on Twitter ...,2024-03-14 00:00:00,True,Share on Facebook Share on Twitter ...
4,https://www.nation.com.pk/14-Mar-2024/drizzle-...,"Drizzle in city, more rain with few heavy fal...",Share on Facebook Share on Twitter ...,2024-03-14 00:00:00,True,Share on Facebook Share on Twitter ...

In [109]:
df = df_org.copy()

In [111]:
df.isnull().sum()

Links           0
Title           0
Description     1
Date            0
Status          0
CleanedTweet    1
dtype: int64

In [112]:
df.dropna(subset=["CleanedTweet"], inplace=True)
df.isnull().sum()

Links           0
Title           0
Description     0
Date            0
Status          0
CleanedTweet    0
dtype: int64

In [125]:
import unicodedata
import re

# word_to_remove = ' - ', 
# word_to_remove = ' LAHORE   -   '
# word_to_remove = ' -'
# word_to_remove = '\xa0\xa0 -\xa0 '

words_to_remove = [' - '] 
# words_to_remove = [' PESHAWAR - ', ' LAHORE - ', ' ATTOCK - ', ' Peshawar - ', ' ISLAMANAD - ', ' HYDERABAD - ', ' SUKKUR - ', ' KARACHI - ',  'RAWALPINDI - ',  'ISLAMABAD - ',\
                #    ' FAISALABAD - ', ' KASHMORE - ', 'QUETTA - ', 'LARKANA - ', 'GAZA/TEL AVIV - ']
word_to_remove2 = ' Tags:'


count = 0
word = []

def remove_code(text):
    global count  # Declare count as global

    clean_text = re.sub(r'\s+', ' ', text)  # Remove extra spaces
    clean_text = re.sub(r'\xa0\xa0 -\xa0', '', clean_text)  # remove text: \xa0\xa0 -\xa0
    clean_text = re.sub(r'\xad', '', clean_text)  
    # clean_text = re.sub(r'Share on Facebook Share on Twitter ', '', clean_text) 

    if "Share on Facebook Share on Twitter " in clean_text:
    # if " Tags: " in clean_text:
        try:
            # count += 1
            # clean_text = clean_text.split(word_to_remove2, 1)[0]
            # word.append(clean_text.strip())
            
            words = clean_text.split()
            # Count the number of words
            if words[11] == "-":
                count += 1
                clean_text = clean_text.split("-", 1)[1]
                clean_text = clean_text.split(word_to_remove2, 1)[0]
                word.append(clean_text.strip())
                return clean_text 
        except:
            pass
        
    return text
    

    # for word_to_remove in words_to_remove:

    #     if word_to_remove in clean_text:
    #         count += 1
    #         # clean_text = clean_text.split(word_to_remove, 1)[1]  # Split text using word_to_remove1 as delimiter and take the second part onwards
    #         # clean_text = clean_text.split(word_to_remove2, 1)[0]  # Split text using word_to_remove2 as delimiter and take the first part only
    #         word.append(clean_text.strip())  # Append cleaned text to the list after removing leading/trailing whitespace

    #         # return clean_text.strip()
    #         return text
    # else:
    #     return text

# Apply the function to the 'text' column
df['CleanedTweet'] = df['CleanedTweet'].apply(remove_code)

print(count)
for i in word[:20]:
    print(i)

0

In [126]:
df['CleanedTweet'].head()

0     A delegation from Lahore University Media Stu...
1     Punjab Minister for Specialised Healthcare an...
2     Founder and General Secretary of Dr. AQ Khan ...
3     Punjab Minister for Mines and Minerals Depart...
4     Various parts of the provincial capital recei...
Name: CleanedTweet, dtype: object

In [145]:
word_to_search = 'window.unibots = window.unibots || { cmd: [] }; unibots.cmd.push(function() { unibotsPlayer("pakobserver.net_1705663781000") });'
count = 0
word = []

def search_text(text):
    global count
    if word_to_search in text:
        count += 1
        escaped_word = re.escape(word_to_search)  # Escape special characters
        clean_text = re.sub(fr'{escaped_word}', '', text)
        clean_text = re.sub(r'\s+', ' ', clean_text)  # Remove extra spaces
        word.append(clean_text.strip())
        return clean_text
            
    return text

df['CleanedTweet'] = df['CleanedTweet'].apply(search_text)

print(count)

0

In [144]:
print(word[0])

The Pakistan National Council of the Arts (PNCA) on Thursday unveiled a captivating Art Exhibition at the National Art Gallery in Islamabad. The exhibition features an array of exquisite calligraphic artworks from PNCA’s Permanent Collection, Director PR Bilal Karim said while talking to APP. The art enthusiasts can immerse themselves in the mesmerizing world of calligraphy as they explore works by renowned Masters such as Sadequain, Ahmed Khan, Hanif Ramay, Rana Riaz, Aslam Kamal, and Amin Gulgee. The exhibition boasts a rich tapestry of traditional calligraphy by artists like Elahi Buksh Matee, Nasir Khan Seemab, Azeem Iqbal, Shabbir Zia, and Humayun Bangash, among others. The visitors are treated to a diverse range of mediums and techniques, showcasing the versatility and creativity inherent in calligraphic artistry from classical styles to contemporary interpretations, the exhibition offers something for every discerning viewer. The exhibition is not just a fleeting experience, it is a journey that extends throughout the month of Ramazan. Patrons can relish the beauty of calligraphy daily from 9:00 am to 3:00 pm, with Fridays and Saturdays marked as days of rest. He said that beyond its aesthetic appeal, the exhibition is serving as a platform for cultural appreciation and understanding through the timeless art of calligraphy, visitors can delve into the rich heritage and traditions of Pakistan. The PNCA extended a warm invitation to all art enthusiasts, locals, and tourists alike, to immerse themselves in the captivating world of calligraphy, whether you’re a seasoned aficionado or a curious newcomer, there’s something to enchant and inspire at this remarkable exhibition, he added. The art enthusiasts were urged to avail this great opportunity to observe the spirit of Ramazan Karim through the lens of art and culture in Gallery No-3 at the National Art Gallery in Islamabad and embark on a journey of beauty, tradition and creativity.

In [149]:
print(df.shape)
df.head()

(11995, 6)

,Links,Title,Description,Date,Status,CleanedTweet
0,https://www.nation.com.pk/14-Mar-2024/delegati...,Delegation from Lahore University Media Studie...,Share on Facebook Share on Twitter ...,2024-03-14 00:00:00,True,A delegation from Lahore University Media Stu...
1,https://www.nation.com.pk/14-Mar-2024/kh-salma...,Kh Salman vows comprehensive health sector imp...,Share on Facebook Share on Twitter ...,2024-03-14 00:00:00,True,Punjab Minister for Specialised Healthcare an...
2,https://www.nation.com.pk/14-Mar-2024/give-zak...,"Give Zakat, donations for welfare of deservin...",Share on Facebook Share on Twitter ...,2024-03-14 00:00:00,True,Founder and General Secretary of Dr. AQ Khan ...
3,https://www.nation.com.pk/14-Mar-2024/minister...,Minister reviews mining issue,Share on Facebook Share on Twitter ...,2024-03-14 00:00:00,True,Punjab Minister for Mines and Minerals Depart...
4,https://www.nation.com.pk/14-Mar-2024/drizzle-...,"Drizzle in city, more rain with few heavy fal...",Share on Facebook Share on Twitter ...,2024-03-14 00:00:00,True,Various parts of the provincial capital recei...

In [152]:
df_new = df.copy()
df_new1 = df.copy()

In [147]:
! pip install langdetect

Collecting langdetect
  Downloading langdetect-1.0.9.tar.gz (981 kB)
     -------------------------------------- 981.5/981.5 kB 2.2 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: six in c:\users\hammad\documents\python_envs\bert_trans_env\lib\site-packages (from langdetect) (1.16.0)
Building wheels for collected packages: langdetect
  Building wheel for langdetect (setup.py): started
  Building wheel for langdetect (setup.py): finished with status 'done'
  Created wheel for langdetect: filename=langdetect-1.0.9-py3-none-any.whl size=993253 sha256=3477ab4e3806ca2408aec97a1156136554bc34fe537d00f5debde868d683c8a1
  Stored in directory: c:\users\hammad\appdata\local\pip\cache\wheels\c4\16\af\1889804d8b7c0c041cadee8e29673a938a332acbf2865c70a1
Successfully built langdetect
Installing collected packages: langdetect
Successfully installed langdetect-1.0.9

[notice] A new release of pip available: 22.3.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [150]:
from langdetect import detect

# Function to detect language
def detect_language(text):
    try:
        lang = detect(text)
        return lang == 'en'
    except:
        return False  # Handle cases where language detection fails

# Apply language detection function to filter English records
df_new = df_new[df_new['CleanedTweet'].apply(detect_language)]
df_new.shape

(10830, 6)

In [153]:
# Function to remove non-English characters
def remove_non_english(text):
    # Use regex to filter out non-English characters, excluding digits
    english_text = re.sub(r'[^\x00-\x7F\d]+', ' ', text)
    return english_text

# Apply the function to the 'text' column
df_new1['CleanedTweet'] = df_new1['CleanedTweet'].apply(remove_non_english)
df_new1.shape

(11995, 6)

In [154]:
df_new1.isnull().sum()

Links           0
Title           0
Description     0
Date            0
Status          0
CleanedTweet    0
dtype: int64

In [161]:
# Function to decode text
def decode_text(text):
    # Decode the text using UTF-8 encoding
    decoded_text = text.encode().decode('utf-8')
    return decoded_text

# Apply the function to the 'text' column
df_new['CleanedTweet'] = df_new['CleanedTweet'].apply(decode_text)

In [163]:
df_new.shape

(11995, 6)

In [151]:
df_new.to_csv("cleaned_news_data.csv", index=False)

In [164]:
df1 = pd.read_csv("cleaned_news_data.csv")
df1.shape

(10830, 6)

In [166]:
df1['CleanedTweet'] = df1['CleanedTweet'].apply(decode_text)
df1.shape

(10830, 6)

In [176]:
df1['CleanedTweet'][6290]

'LONDON: Britain’s Labour dealt a crushing blow to Prime Minister Rishi Sunak’s Conservatives on Friday, winning contests for two new lawmakers in votes that suggested the opposition party was on track to win a national election later this year. The double defeat underlined the flagging fortunes of the governing party and will do little to silence Sunak’s critics, who fear the Conservatives could face an all-but wipe-out at the national election and want him to change course. The 43-year-old former investment banker has struggled to restore his party’s fortunes despite recasting himself at various points over the past year as a bold reformer, a stable technocrat and now as someone who needs more time “to stick to the plan” because, he says, that plan is working. But with the Labour Party ahead in the polls, Sunak might well need to bend to the demands of some in his party to offer an increasingly disaffected electorate a more right-wing conservative agenda before the election. “By winning in these Tory strongholds, we can confidently say that Labour is back in the service of working people and we will work tirelessly to deliver for them,” Labour leader Keir Starmer said in a statement. “The Tories (Conservatives) have failed. Rishi’s recession proves that. That’s why we’ve seen so many former Conservative voters switching directly to this changed Labour Party.” Labour overturned a hefty Conservative majority in the central English town of Wellingborough to win the parliamentary seat with 13,844 votes against 7,408 in what polling expert John Curtice described as the governing party’s “worst ever by-election reverse.” In another threat to Sunak’s party, the candidate for the right-wing Reform Party won 3,919 votes, a sign, Curtice said, it had “now entered the electoral battle in a serious way … that potentially adds to the Conservatives’ difficulties”. In Kingswood, southwestern England, Labour won with 11,176 votes against 8,675 for the Conservative candidate. The Conservatives have only won four out of 21 by-elections since the last national election in 2019. While so-called by-elections are often lost by the governing party, the scale of the defeat in two parliamentary seats the Conservatives have held for years piles pressure on Sunak, who became prime minister just over a year ago. The challenge from the Reform Party could also worry some in the governing party. Senior Conservative lawmaker Jacob Rees-Mogg said at least in Kingswood, if Reform supporters had voted for the governing party as part of the “Conservative family”, the Conservatives would have held the parliamentary seat. It appeared that the Conservatives had all but written off the two by-elections.'

In [177]:
# use excel for encoding isses to save pandas dataframe
df1.to_excel("cleaned_news_data.xlsx", index=False, encoding='utf-8')

c:\Users\Hammad\Documents\Python_Envs\bert_trans_env\lib\site-packages\pandas\util\_decorators.py:211: FutureWarning: the 'encoding' keyword is deprecated and will be removed in a future version. Please take steps to stop the use of 'encoding'
  return func(*args, **kwargs)

In [179]:
df_fake = pd.read_excel("clean_fake_news_data.xlsx")
df_fake.head()

,Links,Title,Description,Date,Status
0,https://www.opindia.com/2024/02/bank-accounts-...,"51 crore accounts, 35 crore rupee cards, Rs 2 ...",googletag.cmd.push(function() { googletag.disp...,2024-02-14T21:20:08+05:30,False
1,https://www.opindia.com/2024/02/hindus-in-hald...,Hindus in Haldwani display remarkable valour: ...,googletag.cmd.push(function() { googletag.disp...,2024-02-14T22:04:00+05:30,False
2,https://www.opindia.com/2024/02/sonia-gandhi-f...,Sonia Gandhi files RS nomination from Rajastha...,googletag.cmd.push(function() { googletag.disp...,2024-02-15T08:13:03+05:30,False
3,https://www.opindia.com/2024/02/muslim-organiz...,‘There is no one above Allah’: Muslim organisa...,googletag.cmd.push(function() { googletag.disp...,2024-02-15T08:31:35+05:30,False
4,https://www.opindia.com/2024/02/mufti-salman-a...,Another video of Mufti Salman Azhari goes vira...,googletag.cmd.push(function() { googletag.disp...,2024-02-15T08:39:14+05:30,False

In [206]:
df_fake2 = df_fake.copy()

In [207]:
def clean_text(text):
    # Split the text based on " });" pattern
    parts = text.split(" });")
    
    # Define the pattern to match
    pattern = r'googletag\.cmd\.push\(function\(\).*\);'
    
    # Remove the pattern from each split part
    cleaned_parts = [re.sub(pattern, '', part) for part in parts]
    
    # Combine the remaining text
    cleaned_text = ' '.join(cleaned_parts)
    cleaned_text = re.sub(r'\s+', ' ', cleaned_text)  # Remove extra spaces

    
    return cleaned_text

# Apply the cleaning function to the 'text' column
df_fake2['Description'] = df_fake2['Description'].apply(clean_text)
df_fake2.head()

,Links,Title,Description,Date,Status
0,https://www.opindia.com/2024/02/bank-accounts-...,"51 crore accounts, 35 crore rupee cards, Rs 2 ...",The nation is about to experience its greates...,2024-02-14T21:20:08+05:30,False
1,https://www.opindia.com/2024/02/hindus-in-hald...,Hindus in Haldwani display remarkable valour: ...,"In Haldwani, Uttarakhand, there was a fierce ...",2024-02-14T22:04:00+05:30,False
2,https://www.opindia.com/2024/02/sonia-gandhi-f...,Sonia Gandhi files RS nomination from Rajastha...,With no hopes of retaining the Rae Bareli Lok...,2024-02-15T08:13:03+05:30,False
3,https://www.opindia.com/2024/02/muslim-organiz...,‘There is no one above Allah’: Muslim organisa...,The Rajasthan High Court on Wednesday (14th F...,2024-02-15T08:31:35+05:30,False
4,https://www.opindia.com/2024/02/mufti-salman-a...,Another video of Mufti Salman Azhari goes vira...,"A video of Mufti Salman Azhari, who was recen...",2024-02-15T08:39:14+05:30,False

In [224]:
word_to_search = 'What the fake is about: '
count = 0
word = []

def search_text(text):
    global count
    if word_to_search in text:
        count += 1
        # escaped_word = re.escape(word_to_search)  # Escape special characters
        # clean_text = re.sub(fr'{escaped_word}', '', text)
        # clean_text = re.sub(r'\s+', ' ', clean_text)  # Remove extra spaces

        clean_text = re.sub(fr'{word_to_search}', '', text)
        word.append(clean_text.strip())
        return clean_text
            
    return text

df_fake2['Description'] = df_fake2['Description'].apply(search_text)

print(count)
for i in word[:2]:
    print(i)

0

In [226]:
df_fake3 = df_fake2.copy()
df_fake2.shape

(12807, 5)

In [227]:
# Apply language detection function to filter English records
df_fake3 = df_fake3[df_fake3['Description'].apply(detect_language)]
df_fake3.shape

(10547, 5)

In [327]:
word_to_search = 'Earth to be Recycled ' 
count = 0
word = []

def search_text(text):
    global count
    if word_to_search in text:
        count += 1
        # escaped_word = re.escape(word_to_search)  # Escape special characters
        # clean_text = re.sub(fr'{escaped_word}', '', text)
        # clean_text = re.sub(r'\s+', ' ', clean_text)  # Remove extra spaces

        # clean_text = re.sub(fr'{word_to_search}', '', text)

        clean_text = text.split(word_to_search, 1)[0]
        word.append(clean_text.strip())
        return clean_text
            
    return text

df_fake3['Description'] = df_fake3['Description'].apply(search_text)

print(count)
for i in word[:2]:
    print(i)

0

In [328]:
df_fake3.to_excel("cleaned_fake_news_data.xlsx", index=False, encoding='utf-8')

c:\Users\Hammad\Documents\Python_Envs\bert_trans_env\lib\site-packages\pandas\util\_decorators.py:211: FutureWarning: the 'encoding' keyword is deprecated and will be removed in a future version. Please take steps to stop the use of 'encoding'
  return func(*args, **kwargs)