In [2]:
import pandas as pd

In [9]:
data = pd.read_csv("dataset\data\cifar100_nl.csv", header=None)

In [10]:
data.shape

(59998, 2)

In [11]:
data.head()

                                      0          1
0  cifar100_nl/img/train/zuLaSLzHKZ.png  cockroach
1  cifar100_nl/img/train/TIbrIzjlju.png      whale
2  cifar100_nl/img/train/bIbtjNbPvW.png      apple
3  cifar100_nl/img/train/vMsCEjUvde.png       seal
4  cifar100_nl/img/train/yyPVYpDWSd.png        sea

In [7]:
import tensorflow as tf